Repository gardener/gardener-extension-shoot-networking-filter, pull requests merged in 2022-03, with the labels that each got.

#2 Add missing license and copyright attributions
  .reuse/dep5
  LICENSES/BSD-2-Clause.txt
  LICENSES/BSD-3-Clause.txt
  LICENSES/ISC.txt
  LICENSES/LicenseRef-PUBLIC-DOMAIN-xi2-xy.txt
  LICENSES/MIT.txt
  LICENSES/MPL-2.0.txt
  example/controller-registration.yaml
  pkg/metrics/metrics.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#3 Fixed bug in the filtering of the block list and added logging.
  pkg/controller/lifecycle/filter.go
  pkg/controller/lifecycle/filterlistprovider.go
Labels: needs/ok-to-test

#5 Added filter and lifecycle tests
  .test-defs/lifecycle.yaml
  Dockerfile
  pkg/constants/constants.go
  pkg/controller/lifecycle/filter.go
  pkg/controller/lifecycle/filter_test.go
  pkg/controller/lifecycle/lifecycle_suite_test.go
  test/integration/healthcheck/test.go
  test/system/lifecycle/lifecycle_test.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/deep.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/fields.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/kubernetes_errors.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/matchers.go
  vendor/github.com/onsi/ginkgo/extensions/table/table.go
  vendor/github.com/onsi/ginkgo/extensions/table/table_entry.go
  vendor/github.com/onsi/gomega/gstruct/elements.go
  vendor/github.com/onsi/gomega/gstruct/errors/nested_types.go
  vendor/github.com/onsi/gomega/gstruct/fields.go
  vendor/github.com/onsi/gomega/gstruct/ignore.go
  vendor/github.com/onsi/gomega/gstruct/keys.go
  vendor/github.com/onsi/gomega/gstruct/pointer.go
  vendor/github.com/onsi/gomega/gstruct/types.go
  vendor/modules.txt
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#6 [WIP] Ensure connectivity with seed load balancers
  charts/gardener-extension-shoot-networking-filter/templates/rbac.yaml
  charts/gardener-extension-shoot-networking-filter/values.yaml
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/filter.go
  pkg/controller/lifecycle/filter_test.go
Labels: kind/api-change, reviewed/lgtm, needs/ok-to-test, size/l
