Repository gardener/gardener-extension-shoot-networking-filter, pull requests merged in 2023-03, with the labels that each got.

#57 Remove minAllowed.cpu for all components
  charts/gardener-extension-shoot-networking-filter/templates/vpa.yaml
  charts/gardener-extension-shoot-networking-filter/values.yaml
  example/controller-registration.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#59 bump builder image to golang:1.20.2
  Dockerfile
  go.mod
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#60 Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  cmd/gardener-extension-shoot-networking-filter/app/app.go
  go.mod
  go.sum
  pkg/cmd/options.go
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, reviewed/lgtm, needs/ok-to-test, size/s

#61 Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `c…
  cmd/gardener-extension-shoot-networking-filter/app/app.go
  go.mod
  go.sum
  pkg/cmd/options.go
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s

#62 Make `blackholing` configureable per shoot.
  cmd/gardener-extension-shoot-networking-filter/app/app.go
  docs/usage/shoot-networking-filter.md
  pkg/apis/config/install/install.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/filter.go
  pkg/controller/lifecycle/filter_test.go
  pkg/controller/lifecycle/filterlistprovider.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m
